* {
	font-family: 'Roboto', sans-serif;
    font-style: normal;
    color: #373867; 
}

#section-trackgenix {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    padding: 5px 0px;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    text-transform: uppercase;
}

h3 {
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    color: #AACE9B;
}

#main-img {
    margin: auto;
    height: 144px;
}

#trackgenix-p {
    padding: 5px 54px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: center;
}

#main-button {
    display: none;
}

h2 {
    width: fit-content;
    margin-left: 30px;
    padding: 30px 0px 5px 0px;
    border-bottom: solid #AACE9B 2px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.features-row {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px 0px;
}

.features-row p {
    width: 100px;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
}

.features-row img {
    width: 40px;
    height: 40px;
}

#why-use-container {
    display: flex;
}

#why-use-img {
    height: 95px;
    margin: auto;
}

li {
    padding: 10px;
    font-weight: 400;
    font-size: 12px;
    list-style-image: url(../assets/svg/vector-icon.svg);
}

div input, select, textarea {
    box-sizing: border-box;
    width: 300px;
    margin: 10px 0px 0px 30px;
    padding: 10px 12px;
    background: #FFFFFF;
	border: 1px solid #AACE9B;
	border-radius: 4px;
    font-style: normal;
	font-weight: 400;
	font-size: 13px;
	line-height: 15px;
	color: #C4C4C4;
}

textarea {
    height: 100px;
}

#btn {
    display: flex;
    justify-content: flex-end;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

#cancel-btn {
    width: 80px;
    margin: 10px 15px 0px 0px;
    color: #AACE9B;
}

#send-btn {
    width: 80px;
    margin: 10px 35px 0px 0px;
    background: #AACE9B;
    color: #FFFFFF;
}

#h2-history {
    margin-bottom: 20px;
}

.p-history {
    width: 85%;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    text-align: justify;
}

#history-img {
    margin: 20px 0px 30px 0px;
    height: 155px;
}

#history-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

table {
    display: flex;
    padding-bottom: 25px;
    border-bottom: 3px solid #AACE9B;
    justify-content: center;
    text-align: left;
}

th {
    padding: 0px 15px 15px 25px;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
}

td {
    padding: 0px 10px 4px 25px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
}

.border {
    border-right: 1px solid #373867;
}