<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="../styles/reset.css">
        <link rel="stylesheet" type="text/css" href="../styles/header.css">
        <link rel="stylesheet" type="text/css" href="../styles/aside.css">
        <link rel="stylesheet" type="text/css" href="../styles/body.css">
        <link rel="stylesheet" type="text/css" href="../styles/footer.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <title>trackgenix</title>
    </head>
    <body>
        <header>
            <img id="menu-icon" src="../../assets/img/menu-hamburguesa.png" alt="menu">
            <img id= "logo" src="../../assets/svg/logo-trackgenix.svg" alt="logo">
        </header>
        <div class="container">
            <div>
                <aside>
                    <h2 id="h2-menu">Menu</h2>
                    <nav>
                        <div class="border-bottom-menu">
                            <a id="home" href="#main">Home</a>
                        </div>
                        <div class="border-bottom-menu">
                            <a id="signup" href="employee-signup.html">SignUp</a>
                        </div>
                        <div class="border-bottom-menu">
                            <a id="login" href="login.html">Login</a>
                        </div>
                    </nav>
                    <h2 id="h2-contact">Contact</h2>
                    <div class="container-contact">
                        <img src="../../assets/svg/email-icon.svg" alt="email">
                        <p>trackgenix@gmail.com</p>
                    </div>
                    <div class="container-contact">
                        <img src="../../assets/svg/phone-icon.svg" alt="phone">
                        <p>(+54) 4545-9999</p>
                    </div>
                    <div class="container-contact">
                        <img src="../../assets/svg/house-icon.svg" alt="house">
                        <p>1234 Somewhere Road #8254 Nashville</p>
                    </div>
                </aside>
            </div>
            <div>
                <main>
                    <section id="section-trackgenix">
                        <h1> trackgenix </h1>
                        <h3>Time control that simplifies your business</h3>
                        <img id="main-img" src="../../assets/img/main-img.jpg" alt="main-img">
                        <p id="trackgenix-p">The time control software to manage your employees time in the easiest,
                            fastest and most intuitive way.
                        </p>
                        <button id="main-button">LEARN MORE</button>
                    </section>
                    <section>
                            <h2 id="h2-features">Features</h2>
                        <div class="features-row">
                            <img id="clock-img" src="../../assets/img/hours-log.png" alt="clock">
                            <p id="p-hours-log">Hours Log</p>
                            <img id="reports-img" src="../../assets/img/reports.png" alt="reports">
                            <p id="p-reports">Reports</p>
                        </div>
                        <div class="features-row">
                            <img id="resource-management-img" src="../../assets/img/resource-management.png" 
                            alt="resource-management">
                            <p id="p-resource-management">Resource management</p>
                            <img id="multiple-role-img" src="../../assets/img/multiple-role.png" alt="multiple-role">
                            <p id="p-multiple-role">Multiple Role</p>
                        </div>
                    </section>    
                    <section>
                        <h2 id="h2-why-use">Why use Trackgenix?</h2>
                        <div id="why-use-container">
                            <img id="why-use-img" src="../../assets/img/why-use.jpg" alt="connection">
                            <ul>
                                <li>Productivity booster</li>
                                <li>Work traceability</li>
                                <li>Leadership and team management</li>
                                <li>Decisionmaking</li>
                            </ul>
                        </div>
                    </section>
                    <section>
                        <h2 id="h2-information">Ask for more information</h2>
                        <form>
                            <div>
                                <input id="name-input" type="text" name="Name" placeholder="Name" required>
                            </div>
                            <div>    
                                <input id="email-input" type="email" name="Email" placeholder="Email" required>
                            </div>
                            <div>    
                                <select name="Categories">
                                    <option value="Categories" selected>Categories</option>
                                    <option value="Human resources">Human resources</option>
                                    <option value="Systems">Systems</option>
                                    <option value="Commercialization">Commercialization</option>
                                </select>
                            </div>
                            <div>    
                                <textarea name="Message" placeholder="Message"></textarea>
                            </div>
                            <div id="btn">    
                                <input id="cancel-btn" type="submit" name="cancel" value="Cancel">
                                <input id="send-btn" type="submit" name="send" value="Send">
                            </div>    
                        </form>
                    </section>
                    <section>
                        <h2 id="h2-history">Our history</h2>
                        <div id="history-container">
                            <p class="p-history"> Since 2012, we´ve helped countless companies across the globe build 
                                aplications that empower growth, leave a lasting impression and transform their 
                                user experience. 
                            </p>
                            <p class="p-history">
                                GigaTech was created in 2012 by a trio of colleagues who met through a coding bootcamp. 
                                They continue to perfect the craft of app development and make a name for themselves.
                            </p>
                            <p id="p-history-3" class="p-history">
                                As the team grew from three to ten, and then from ten to twenty, they explored new 
                                partnerships with major technologies to propel their growth. GigaTech currently has 
                                around 70 team members and exciting growth goals ahead of them.
                            </p>
                            <img id="history-img" src="../../assets/img/our-history.jpg" alt="business">
                        </div>
                    </section>
                    <section>
                        <table>
                            <tr>
                                <th class="border">products</th>
                                <th class="border">company</th>
                                <th>support</th>
                            </tr>
                            <tr>
                                <td class="border">Features</td>
                                <td class="border">About us</td>
                                <td >Help</td>
                            </tr>
                            <tr>
                                <td class="border">Downloads</td>
                                <td class="border">Trusted by</td>
                                <td>Tutorials</td>
                            </tr>
                            <tr>
                                <td class="border">Integrations</td>
                                <td class="border">Resources</td>
                                <td>API</td>
                            </tr>
                            <tr>
                                <td class="border">Additional features</td>
                                <td class="border">Clients</td>
                                <td>Contact</td>
                            </tr>
                        </table>
                    </section>
                </main>
                <footer>
                    <div>
                        <img id="twitter-icon" src="../../assets/svg/twitter-icon.svg" alt="twitter-icon">
                        <img id="facebook-icon" src="../../assets/svg/facebook-icon.svg" alt="facebook-icon">
                        <img id="linkedin-icon" src="../../assets/svg/linkedin-icon.svg" alt="linkedin-icon">
                        <img id="instagram-icon" src="../../assets/svg/instagram-icon.svg" alt="instagram-icon">
                        <img id="github-icon" src="../../assets/svg/git-icon.svg" alt="github-icon">
                    </div>
                    <div id="div-footer">
                        <p>Rosario, Argentina</p>
                        <p>Copyright &copy; 2022 GigaTech Software Solutions SA</p>
                        <p>All rights reserved</p>
                    </div>
                </footer>
            </div>
        </div>
    </body>
</html>