<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../styles/reset.css">
    <link rel="stylesheet" type="text/css" href="../styles/header.css">
    <link rel="stylesheet" type="text/css" href="../styles/login.css">
    <script src="../javascript/login.js"></script>
    <title>Login</title>
</head>
<body>
    <header>
        <img id="menu-icon" src="../../assets/img/menu-hamburguesa.png" alt="menu">
        <img id= "logo" src="../../assets/svg/logo-trackgenix.svg" alt="logo">
    </header>
    <section>
        <form>
            <a href="index.html"><img src="../../assets/svg/arrow-left.svg" alt=""></a>
            <h1>login</h1>
            <label for="email">Email</label>
            <input id="email" type="text" name="Name" placeholder="email">
            <label for="password">Password</label>
            <input id="password" type="password" name="Name" placeholder="password">
            <a href="employee-signup.html">Don´t have an account? SIGN UP</a>
            <a href="">Forgot your password?</a>
            <input id="btn" type="button" value="Login">
        </form>
    </section>
</body>
</html>