* {
	font-family: 'Roboto', sans-serif;
    color: #373867; 
}

header {
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: 10;
	height: 126px;
	width: 1512;
    background-color: #AACE9B;
}

#menu-icon {
    position: relative;
    top: 41px;
    left: 46px;
    width: 45px;
    height: 44.61px;
}

#search-icon {
    position: relative;
    top: 30px;
    left: 605px;
    z-index: 10;
}

header input {
    position: relative;
    top: 25px;
    left: 568px;
    width: 375px;
    height: 34px;
    background: #D8E7EB;
	border: 1px solid #D6D6D6;
	border-radius: 50px;
    padding: 0px;
}

header button {
    display: none;
}

aside {
    position: fixed;
    top: 126px;
    width: 397px;
    height: 3374px;
    background: #FFFFFF;
    border-right: 2px solid #BFBFBF;
}

aside h2 {
    position: absolute;
    left: 55px;
    border-bottom: solid #AACE9B 3px;
	padding-bottom: 32px;
    font-style: normal;
	font-weight: 700;
	font-size: 30px;
	line-height: 35px;
}

#h2-menu {
    top: 80px;
    width: 100px;
}

a {
    position: absolute;
    left: 55px;
    width: 87%;
    border-bottom: solid #CDCCCC 2px;
    padding-bottom: 36px;
    font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
}

#home {
    top: 212px;
}

#signup {
    top: 329px;
}

#login {
    top: 446px;
}

#h2-contact {
    top: 563px;
}

aside p {
    position: absolute;
    left: 113px;
    font-style: normal;
	font-weight: 400;
	font-size: 30px;
	line-height: 35px;
}

aside img {
    position: absolute;
    left: 55px;
}

#email-icon {
    top: 657px;
}

#email {
    top: 657px;
    width: 264px;
    height: 29px;
}

#phone-icon {
    top: 700px;
}

#phone {
    top: 702px;
    height: 23px;
}

#house-icon {
    top: 736px;
    left: 43px;
}

#adress {
    top: 742px;
    width: 276px;
}

h1 {
    position: relative;
    top: 191px;
    left: 425px;
    font-style: normal;
	font-weight: 700;
	font-size: 48px;
	line-height: 56px;
	text-transform: uppercase;
	letter-spacing: 0.3em;
}

h3 {
    position: relative;
    top: 220px;
    left: 425px;
    font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-transform: uppercase;
	color: #AACE9B;
}

#trackgenix-p {
    position: relative;
    top: 250px;
    left: 425px;
    width: 617px;
    height: 62px;
    font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
}

#main-img {
    position: relative;
    top: 50px;
    left: 1019px;
    width: 458px;
    height: 449px;
}

#main-button {
    position: absolute;
    top: 432px;
    right: 921px;
    bottom: 2996px;
    left: 425px;
    box-sizing: border-box;
    width: 166px;
    height: 72px;
    padding: 24px 34px;
    background: #FFFFFF;
	border: 3px solid #AACE9B;
	border-radius: 5px;
	font-style: normal;
	font-weight: 500;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #AACE9B;
}

#features-img {
    display: none;
}

section h2 {
    border-bottom: solid #AACE9B 3px;
    padding-bottom: 13px;
    font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 38px;
}

#h2-features {
    position: relative;
    top: 130px;
    left: 437px;
    width: 127px;
}

.features-div p {
    font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
}

#clock-img {
    position: absolute;
    top: 813.72px;
    left: 437px;
    width: 91.68px;
    height: 88.91;
}

#p-hours-log {
    position: absolute;
    top: 849.31px;
    left: 600.27px;
}

#reports-img {
    position: absolute;
    top: 817.46px;
	left: 815.21px;
    width: 91.68px;
    height: 88.91;
}

#p-reports {
    position: absolute;
    top: 849.31px;
    left: 990.24px;
}

#resource-management-img {
    position: absolute;
    top: 969.3px;
    left: 437.02px;
    width: 91.68px;
    height: 88.91px;
}

#p-resource-management {
    position: absolute;
    top: 993.57px;
    left: 600.27px;
    width: 194.82px;
	height: 66.68px;
}

#multiple-role-img {
    position: absolute;
    top: 969.3px;
    left: 815.21px;
    width: 91.68px;
	height: 88.91px;
}

#p-multiple-role {
    position: absolute;
    top: 996.38px;
    left: 990.24px;
}

#h2-why-use {
    position: relative;
    top: 530px;
    left: 437px;
    width: 304px;
}

#why-use-img {
    position: relative;
    top: 590px;
    left: 421px;
    width: 331px;
    height: 241px;
}

li {
    font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
    list-style-image: url(../assets/svg/vector-icon.svg);
    padding-bottom: 43px;
	padding-left: 31.12px
}

section > ul {
    position: absolute;
    top: 1270px;
    left: 895px;
    line-height: 28px;
}

#h2-information {
    position: absolute;
    top: 1653px;
    left: 437px;
    width: 372px;
}

input, select, textarea {
    padding: 10px 12px;
    background: #FFFFFF;
	border: 2px solid #AACE9B;
	border-radius: 4px;
    font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
	color: #C4C4C4;
}

#name-input {
    position: absolute;
    top: 1741.5px;
    right: 428px;
    bottom: 1709.5px;
    left: 425px;
    height: 40px;
}

#email-input {
    position: absolute;
    top: 1821.05px;
    right: 428px;
    bottom: 1629.95px;
    left: 425px;
    height: 40px;
}

select {
    position: absolute;
    top: 1900px;
    right: 428px;
    bottom: 1550.85px;
    left: 425px;
    height: 50px;
}

textarea {
    position: absolute;
    top: 1978.9px;
    right: 428px;
    bottom: 1318px;
    left: 425px;
    height: 203px;
}

#cancel-btn {
    position: absolute;
    top: 2212px;
    right: 583.02px;
    bottom: 1237.95px;
    left: 793.95;
    padding: 16px 41px 28px 41px;
    background: #FFFFFF;
	border: 3px solid #AACE9B;
	border-radius: 5px;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #AACE9B;
}

#send-btn {
    position: absolute;
    top: 2212px;
    right: 428px;
    bottom: 1237.95px;
    left: 930px;
    padding: 18px 38px 28px 38px;
    background: #AACE9B;
	border-radius: 5px;
	font-weight: 700;
	font-size: 15px;
	line-height: 18px;
	text-align: center;
	color: #FFFFFF;
}

#history-img-2 {
    display: none;
}

#history-btn {
    display: none;
}

#h2-history {
    position: absolute;
    top: 2390px;
    left: 425px;
    width: 160px;
    height: 38px;
}

#p-history {
    position: absolute;
    top: 2473px;
    left: 425px;
    width: 560px;
    height: 292px;
    font-style: normal;
    font-weight: 400;
	font-size: 24px;
	line-height: 28px;
}

#history-img {
    position: absolute;
    top: 2473px;
    left: 1021px;
    width: 456px;
    height: 256px;
}

table {
    position: relative;
    top: 1950px;
    left: 561px;
    width: 834px;
	height: 198px;
	background: #FFFFFF;
	font-style: normal;
	font-weight: 700;
	font-size: 24px;
	line-height: 28px;
	text-align: left;
}

th {
    text-transform: uppercase;
    padding-bottom: 40px;
}

#twitter-icon {
    position: absolute;
    top: 3277px;
    left: 842px;
}

#facebook-icon {
    position: absolute;
    top: 3277px;
    left: 893px;
}

#linkedin-icon{
    position: absolute;
    top: 3277px;
    left: 944px;
}

#instagram-icon {
    position: absolute;
    top: 3277px;
    left: 993px;
}

#github-icon {
    position: absolute;
    top: 3275px;
    left: 1037px;
}

#div-footer {
    position: relative;
    top: 2200px;
    left: 210px;
    text-align: center;
    font-style: normal;
	font-weight: 400;
	font-size: 24px;
	line-height: 28px;
}